pyrogram==2.0.106
tgcrypto
motor
aiohttp
beautifulsoup4
pyromod
# New libraries for fuzzy matching
thefuzz==0.22.1
python-Levenshtein==0.25.1
# New libraries for streaming functionality
jinja2
aiofiles
python-dotenv
pymongo
# For IMDb data
cinemagoer
# For advanced filename parsing
parse-torrent-name
